<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @working_place do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :address %>
      <%= f.input :zip_code %>
      <%= f.input :city %>
      <%= f.input :country, priority: [ 'FR' ] %>
      <%= f.input :contact_name %>
      <%= f.input :phone %>
      <%= f.input :mail %>
      <%= f.input :website_url %>
      <%= f.input :capacity %>
      <%= f.input :oppening_time %>
      <%= f.input :price %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAPa-yzjBsDQVm2kdVSc2vmI7Ij39fSxOc"></script>
<% end %>
