<%= render 'shared/navbar' %>

<div class="container">
  <div class="text-center">
  <div class="title"></div>
    <h2>UN LIEU POUR TRAVAILLER PONCTUELLEMENT OU REGULIEREMENT</h2>

    Réservez votre espace de travail dans l’un des Tiers Lieux de la Région Occitanie Pyrénées Méditerranée. <br>
    Pour une ½ journée, 1 journée, 1 jour / Semaine ou / mois … A la demande …


  <hr>

  <%= link_to "Ajoutez un tiers lieux", new_working_place_path , class: "btn btn-default addnew" %> <br>

  <%= link_to "09 - Ariège", working_places_path(zip_code: '09'), method: :get , class: "btn btn-default department" %>
  <%= link_to "11 - Aude", working_places_path(zip_code: '11'), method: :get , class: "btn btn-default department" %>
  <%= link_to "12 - Aveyron", working_places_path(zip_code: '12'), method: :get , class: "btn btn-default department" %>
  <%= link_to "30 - Gard", working_places_path(zip_code: '30'), method: :get , class: "btn btn-default department" %>
  <%= link_to "31 - Haute-Garonne", working_places_path(zip_code: '31'), method: :get , class: "btn btn-default department" %>
  <%= link_to "32 - Gers", working_places_path(zip_code: '32'), method: :get , class: "btn btn-default department" %>
  <%= link_to "34 - Hérault", working_places_path(zip_code: '34'), method: :get , class: "btn btn-default department" %>
  <%= link_to "46 - Lot", working_places_path(zip_code: '46'), method: :get , class: "btn btn-default department" %>
  <%= link_to "48 - Lozère", working_places_path(zip_code: '48'), method: :get , class: "btn btn-default department" %>
  <%= link_to "65 - Hautes-Pyrénées", working_places_path(zip_code: '65'), method: :get , class: "btn btn-default department" %>
  <%= link_to "66 - Pyrénées-Orientales", working_places_path(zip_code: '66'), method: :get , class: "btn btn-default department" %>
  <%= link_to "81 - Tarn", working_places_path(zip_code: '81'), method: :get , class: "btn btn-default department" %>
  <%= link_to "82 - Tarn-et-Garonne", working_places_path(zip_code: '82'), method: :get , class: "btn btn-default department" %>

    <div class="row">
      <% @working_places.each do |place| %>
      <div class="col-md-4">
        <div class="card">
        <%= link_to working_place_path(place) do %>
            <div class="image" style="background-image: url('<%= cl_image_path place.photo.path, height: 300, width: 400, crop: :fill %>');"></div>
            <div class="description">
                <div class="row">
                  <div class="col-sm-12"><h4><%= place.name %></h4></div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  <hr>
  </div>
</div>





<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      var styles = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}];

      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: styles,
          scrollwheel: false,
          zoomcontrol: true,
          draggable: true
        },internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
