<%= render 'shared/navbar' %>

<div class="container">
  <div class="title"></div>

  <div class="head_show">
    <div class="all_link"> <%= link_to "All offices", working_places_path, class: "return" %> </div>
    <div> <i class="fa fa-chevron-right" aria-hidden="true"></i> </div>
    <div class="city"> <%= @working_place.city %> </div>
  </div>
</div>
  <div class="slider">
    <%= cl_image_tag @working_place.photo.path, width: 1280, height: 410, crop: :fill %>
    <div class="container">
      <div class="card_work fixme">
        <div class="brand_name">
          <h3>Tiers Lieux Occitanie</h3>
        </div>
        <div class="work_title h1">
            <%= @working_place.name %>
        </div>
        <div class="adress">
          <div> <%= @working_place.address %> </div>
          <div> <%= @working_place.zip_code %> </div>
          <div> <%= @working_place.city %> </div>
        </div>
        <hr>
        <div class="baseline">
          Tiers Lieux Occitanie is best experienced in person. Fill out your information to schedule a visit.
        </div>
      </div>



    </div>
  </div>
  <!-- <div id="owl-show" class="owl-carousel owl-theme">

    <div class="item"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage1.jpg" alt="The Last of us"></div>
    <div class="item"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage2.jpg" alt="GTA V"></div>
    <div class="item"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage3.jpg" alt="Mirror Edge"></div>

  </div> -->


<hr>

<div class="container">
  <div class="row-md-6 row-md-offset-2">

    <% if @working_place.photo? %>
      <%= cl_image_tag @working_place.photo.path, width: 800, height: 400, crop: :fill %>
    <% end %>

    <%= @working_place.name %> <br>
    <%= @working_place.address %> <br>
    <%= @working_place.contact_name %> <br>
    <%= @working_place.phone %> <br>
    <%= @working_place.mail %> <br>
    <%= @working_place.website_url %> <br>
    <%= @working_place.capacity %> <br>
    <%= @working_place.oppening_time %> <br>
    <%= @working_place.price %>
  </div>

  <%= link_to "Voir l'ensemble des tiers lieux", working_places_path , class: "btn btn-default" %>
</div>
