<%= render 'shared/navbar' %>

<div class="container">
  <div class="title"></div>

  <div class="head_show">
    <div class="all_link"> <%= link_to "Tous les Tiers Lieux", working_places_path, class: "return" %> </div>
    <div> <i class="fa fa-chevron-right" aria-hidden="true"></i> </div>
    <div class="city"> <%= @working_place.city %> </div>
  </div>
</div>
  <div class="slider">
    <%= cl_image_tag @working_place.photo.path, width: 1280, height: 410, crop: :fill %>
    <div class="container">
      <div class="card_work fixme">
        <div class="brand_name">
          <h3>Tiers Lieux Occitanie</h3>
        </div>
        <div class="work_title h1">
            <%= @working_place.name %>
        </div>
        <div class="adress">
          <div> <%= @working_place.address %> </div>
          <div> <%= @working_place.zip_code %> </div>
          <div> <%= @working_place.city %> </div>
        </div>
        <hr>
        <div class="baseline">
          <p><i class="fa fa-link" aria-hidden="true"></i> <%= link_to @working_place.website_url, @working_place.website_url, target: "_blank" %></p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> <%= @working_place.phone %> </p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @working_place.mail %> </p>
        </div>
      </div>
    </div>
  </div>




<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-5">
      <div class="work-content">
        <div class="introduction">
          With a perfect location in the Financial District, this San Francisco office space maintains a relaxed vibe and a productive atmosphere. Enjoy stunning views of the city through the huge windows, or make use of our outdoor patio space for networking events. The five floors dedicated to WeWork consist of numerous generously proportioned offices that are perfect for businesses ranging from startups to established companies. It sits on the border of Chinatown, and the incredible range of Asian cuisine means no more boring lunches at your desk. One of the city’s iconic trolleys runs right in front of the building along California Street. For a great location, access to transportation, and a tight-knit community, this coworking space is hard to beat.
        </div>

        <h3 class="section-title h3Underlined"> HERE TO HELP </h3>
        <div class="about-office">
          <div class="row">
            <div class="col-md-4">
            <%= image_tag("https://res.cloudinary.com/wework/image/upload/c_fill,h_500,w_500/v1441905535/production/profile/avatar/ada13660-0d36-0133-912a-0e634e85779a.jpg?auto=compress%2Cformat&w=1200", class: "picture") %>
            </div>
            <div class="col-md-8">
              <div class="manager">
                <h4 class="name"> <%= @working_place.contact_name %> Jérémy Goillot </h4>
                <h6 class="city"> <%= @working_place.city %> </h6>
                <p> The community management team adds a personal, professional touch to each WeWork building and is committed to empowering members in every possible way. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="options-works">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <div class="work-content">
          <h3 class="section-title h3Underlined"> BUILDING AMENITIES </h3>
          <div class="habilities">
            <div class="item-work">
              Weekly Events
            </div>
            <div class="text-work">
              Networking, happy hours, classes & workshops - we have events all the time and space for you to host your own.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Micro-Roasted Coffee
            </div>
            <div class="text-work">
              Stay caffeinated throughout the day with an infinite stream of freshly roasted coffee.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              High Speed Internet
            </div>
            <div class="text-work">
              Hard-wired (Ethernet) connections as well as access to Wi-Fi in all WeWork locations.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Printing
            </div>
            <div class="text-work">
              Each WeWork floor has at least one multi-function copier/scanner/printer.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Conference Rooms
            </div>
            <div class="text-work">
              Each WeWork floor has conference rooms in a variety of sizes with audio-visual equipment to match any need.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Spacious, Unique Common Areas
            </div>
            <div class="text-work">
              Each WeWork has beautifully designed common areas for meeting and socializing with your fellow members.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Cleaning Services
            </div>
            <div class="text-work">
              Our team is cleaning around the clock to keep the location tidy and presentable for you and your guests.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Private Phone Booths
            </div>
            <div class="text-work">
              Phone, soundproof booths are available on all floors for private calls.
            </div>
          </div>
          <div class="habilities">
            <div class="item-work">
              Onsite Staff
            </div>
            <div class="text-work">
              We have onsite community managers and cleaning crew available from 9am-6pm, Monday through Friday.
            </div>
          </div>

          <div class="gallery">
          <%= image_tag("https://locations-api-production.imgix.net/locations/image/bd7c0054-5408-11e6-9137-0a488af3e541/california-st-office-space-13.jpg?auto=compress%2Cformat&w=1200&fit=crop&h=800", class: "gallery-work") %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>










 <!--    <%= @working_place.name %> <br>
    <%= @working_place.address %> <br>
    <%= @working_place.contact_name %> <br>
    <%= @working_place.phone %> <br>
    <%= @working_place.mail %> <br>
    <%= @working_place.website_url %> <br>
    <%= @working_place.capacity %> <br>
    <%= @working_place.oppening_time %> <br>
    <%= @working_place.price %>  -->


  <%= link_to "Voir l'ensemble des tiers lieux", working_places_path , class: "btn btn-default" %>

