<div class="header-low nav-fixed">
  <div class="container">
    <div class="logo">

    </div>

    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "title" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "title" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "title" %>
      <%= link_to "SMTC-Tisséo", tisseo_path, class: "title" %>
      <%= link_to "Devenir membre", new_working_place_path, class: "button-header-low hvr-grow" %>
    </div>

  </div>

</div>
