<div class="navigation">
  <div class="container">
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in active underline" %>
      <%= link_to "LE RÉSEAU", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LES TIERS LIEUX", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "TISSÉO", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "PRIX", about_us_path, class: "nav-title hvr-bounce-in" %>
    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>
