<div class="navigation navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "nav-title hvr-bounce-in active underline" %>
      <%= link_to "SMTC-Tisséo", tisseo_path, class: "nav-title hvr-bounce-in" %>

    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>
