<% content_for :title, "À-propos | Tiers lieux Occitanie " %>

<div class="navigation navbar-fixed-top">
  <div class="container">
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "nav-title hvr-bounce-in active underline" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "TISSÉO", tisseo_path, class: "nav-title hvr-bounce-in" %>
    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>

<% array_picture = [
  "https://static.pexels.com/photos/7374/startup-photos-large.jpg",
  "https://static.pexels.com/photos/51171/pexels-photo-51171-large.jpeg",
  "https://static.pexels.com/photos/7350/startup-photos-large.jpg",
  "https://static.pexels.com/photos/154/people-apple-iphone-writing-large.jpg",
  "https://static.pexels.com/photos/7361/startup-photos-large.jpg",
  "https://static.pexels.com/photos/7355/startup-photos-large.jpg",
  "https://static.pexels.com/photos/8169/pexels-photo-large.jpg",
  "https://static.pexels.com/photos/6374/flowers-desk-office-vintage-large.jpg",
  "https://static.pexels.com/photos/23978/pexels-photo-23978-large.jpg",
  "https://static.pexels.com/photos/4428/office-table-home-room-large.jpeg"
  ] %>

<div class="network">
  <div class="container">
    <div class="feature">
      <div class="text-center">
        <p class="title"></p>
        <h2 class="heading">Ensemble, développons le télétravail en Région Occitanie</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="dark_gray top"></div>
              <span class="dark_gray"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
              <h4>Le Projet</h4>
              <p>Co-construisons 1 réseau régional pour mutualiser et agir de manière collective sur la promotion, le développement et les enjeux du télétravail.
              </p><p>Rendons plus visible et lisible l’ensemble de l’offre régionale des Tiers Lieux d’Occitanie en développant des outils communs et en recherchant l’harmonisation de l’offre.
              </p>
              <!-- <a href="#" class="readmore">DÉCOUVRIR</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="green top"></div>
              <span class="green"><i class="fa fa-book" aria-hidden="true"></i></span>
              <h4>La Charte</h4>
              <p>Respecter l’identité et les contraintes de chaque Tiers Lieux tout en s’engageant sur un minimum d’exigences partagées et de services afin de garantir aux télétravailleurs et à leurs employeurs un niveau de prestations et de conditions de travail homogènes.
              </p><p>Tels seront les objectifs de <b>LA CHARTE</b> actuellement en phase de co-construction.
              </p>
              <!-- <a href="#." class="readmore">EN SAVOIR +</a>  -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="dark_gray top"></div>
              <span class="dark_gray"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
              <h4>Devenir Membre</h4>
              <p>Vous gérez ou animez un Tiers Lieux situé en Région Occitanie ?
                </p><p>Vous souhaitez diversifier ou développer votre activité en accueillant plus de télétravailleurs salariés ?
                </p><p>Vous adhérez aux principes de mutualisation et d’actions collectives ?
                </p><p>Le Réseau des Tiers Lieux d’Occitanie a toutes les chances de vous intéresser.
              </p>
              <%= link_to "REJOIGNEZ-NOUS", new_working_place_path, class: "readmore" %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="green top"></div>
              <span class="green"><i class="fa fa-users" aria-hidden="true"></i></span>
              <h4>Les membres</h4>
              <p>Plusieurs Tiers Lieux sont d’ores et déjà intéressés ou impliqués dans la co-construction du réseau régional des Tiers Lieux d’Occitanie.
              </p><p>Ceux d’Ariège, du réseau Cowork’In Tarn, d’Auch, des Relais d’entreprise, de Rodez … mais aussi de Toulouse dont La Cantine, Les Imaginations Fertiles, Harry Cow, Le Périscope …</p>
              <%= link_to "VOIR", working_places_path, class: "readmore" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <hr>
    <div class="tl-list">
      <div id="owl-example" class="owl-carousel">
      <% @working_places.each do |place| %>
        <div>
        <%= image_tag array_picture.sample, class: "img-owl" %><br>
        <%= place.name %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
