<% content_for :title, "À-propos | Tiers lieux Occitanie " %>

<div class="navigation navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "nav-title hvr-bounce-in active underline" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "TISSÉO", tisseo_path, class: "nav-title hvr-bounce-in" %>
    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="network">
  <div class="container">
    <div class="feature">
      <div class="text-center">
        <p class="title"></p>
        <h2 class="heading">Ensemble, développons le télétravail en Région Occitanie</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="dark_gray top"></div>
              <span class="dark_gray"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
              <h4>Le Projet</h4>
              <p>Un réseau régional pour mutualiser et agir de manière collective sur la promotion, le développement et les enjeux du télétravail.
              </p><p>Rendre visible et lisible l'offre régionale des Tiers Lieux d’Occitanie en développant des outils communs et en recherchant l’harmonisation de l’offre.
              </p>
              <!-- <a href="#" class="readmore">DÉCOUVRIR</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="green top"></div>
              <span class="green"><i class="fa fa-book" aria-hidden="true"></i></span>
              <h4>La Charte</h4>
              <p>Respecter l’identité et les contraintes de chaque Tiers Lieux tout en s’engageant sur un minimum d’exigences partagées et de services afin de garantir aux télétravailleurs, à leurs employeurs et aux utilisateurs un niveau de prestations et de conditions de travail homogènes, tout en respecter l’identité de chaque Tiers Lieux.
              </p><p>Tels sont les objectifs de <b>la charte !</b></p>
              </p>
              <!-- <a href="#." class="readmore">EN SAVOIR +</a>  -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="dark_gray top"></div>
              <span class="dark_gray"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
              <h4>Devenir Membre</h4>
              <p>Vous gérez ou animez un Tiers Lieux situé en Région Occitanie ?
                </p><p>Vous souhaitez diversifier ou développer votre activité en accueillant plus de télétravailleurs salariés ?
                </p><p>Vous adhérez aux principes de mutualisation et d’actions collectives ?
                </p>
              <%= link_to "REJOIGNEZ-NOUS", new_working_place_path, class: "readmore" %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;">
            <div class="do-wrap text-center">
              <div class="green top"></div>
              <span class="green"><i class="fa fa-users" aria-hidden="true"></i></span>
              <h4>Les membres</h4>
              <p>Plusieurs Tiers Lieux sont d’ores et déjà acteurs du réseau régional des Tiers Lieux d’Occitanie : ceux d’Ariège, du réseau Cowork’In Tarn, d’Auch, des Relais d’entreprise, de Rodez … mais aussi de Toulouse dont La Cantine, Les Imaginations Fertiles, Harry Cow, Le Périscope …
              </p>
              <%= link_to "VOIR", working_places_path, class: "readmore" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <hr>
    <%= render 'shared/gallery', working_places: @working_places %>
  </div>
</div>

<div class="title"></div>
