<% content_for :title, "Tisséo | Tiers lieux Occitanie " %>

<div class="navigation navbar-fixed-top">
  <div class="container">
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "TISSÉO", tisseo_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "PRIX", prix_path, class: "nav-title hvr-bounce-in active underline" %>
    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="feature">
    <div class="text-center">
      <p class="title">Our Valued Services</p>
      <h2 class="heading">What we Offer</h2>
      <div class="row">

        <div class="col-md-12">
          <div class="pricing pricing_tenzin">
            <div class="pricing_item dark_gray">
                <h3 class="pricing_title">Basic</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>9.90</div>
                <p class="pricing_sentence">Perfect for single freelancers who work by themselves</p>
                <ul class="pricing_list">
                    <li class="pricing_feature">Support forum</li>
                    <li class="pricing_feature">Free hosting</li>
                    <li class="pricing_feature">40MB of storage space</li>
                </ul>
                <a class="pricing_action text-center" href="#.">Choose plan</a>
            </div>
            <div class="pricing_item active">
                <h3 class="pricing_title">Popular</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>29,90</div>
                <p class="pricing_sentence">Suitable for small businesses with up to 5 employees</p>
                <ul class="pricing_list">
                    <li class="pricing_feature">Unlimited calls</li>
                    <li class="pricing_feature">Free hosting</li>
                    <li class="pricing_feature">10 hours of support</li>
                    <li class="pricing_feature">Social media integration</li>
                    <li class="pricing_feature">1GB of storage space</li>
                </ul>
                <a class="pricing_action text-center" href="#.">Choose plan</a>
            </div>
            <div class="pricing_item dark_gray">
                <h3 class="pricing_title">Premier</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>59,90</div>
                <p class="pricing_sentence">Great for large businesses with more than 5 employees</p>
                <ul class="pricing_list">
                    <li class="pricing_feature">Unlimited calls</li>
                    <li class="pricing_feature">Free hosting</li>
                    <li class="pricing_feature">Unlimited hours of support</li>
                    <li class="pricing_feature">Social media integration</li>
                    <li class="pricing_feature">Anaylitcs integration</li>
                    <li class="pricing_feature">Unlimited storage space</li>
                </ul>
                <a class="pricing_action text-center" href="#.">Choose plan</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
