<% content_for :title, "À-propos | Tiers lieux Occitanie " %>

<div class="navigation navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="menu">
      <%= link_to "QUI ?", about_us_path, class: "nav-title hvr-bounce-in active underline" %>
      <%= link_to "LE RÉSEAU", le_reseau_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "LES TIERS LIEUX", working_places_path, class: "nav-title hvr-bounce-in" %>
      <%= link_to "TISSÉO", tisseo_path, class: "nav-title hvr-bounce-in" %>
    </div>
    <div class="social-links">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>
</div>

<% array_picture = [
  "https://static.pexels.com/photos/7374/startup-photos-large.jpg",
  "https://static.pexels.com/photos/51171/pexels-photo-51171-large.jpeg",
  "https://static.pexels.com/photos/7350/startup-photos-large.jpg",
  "https://static.pexels.com/photos/154/people-apple-iphone-writing-large.jpg",
  "https://static.pexels.com/photos/7361/startup-photos-large.jpg",
  "https://static.pexels.com/photos/7355/startup-photos-large.jpg",
  "https://static.pexels.com/photos/8169/pexels-photo-large.jpg",
  "https://static.pexels.com/photos/6374/flowers-desk-office-vintage-large.jpg",
  "https://static.pexels.com/photos/23978/pexels-photo-23978-large.jpg",
  "https://static.pexels.com/photos/4428/office-table-home-room-large.jpeg"
  ] %>

<div class="container">
  <div class="feature">
    <div class="text-center">
      <p class="title">Télétravail - Coworking - Tiers-Lieux</p>
      <h2 class="heading">DIGITAL  WORK</h2>
    </div>
    <div class="row">
      <div class="col-md-4 colmargin">
        <div class="first-col">
          <div class="text-center">
            <i class="fa fa-lightbulb-o icone color1" aria-hidden="true"></i>
            <h4 class="color-1">La Commission</h4>
          </div>
          <p>Un espace d’échanges et d’informations pour tous les professionnels intéressés par les nouvelles organisations de travail et les Tiers Lieux.
          </p><p>Créée en 2012, la <span class="bigger-text">Commission Télétravail & Espaces Collaboratifs</span> compte une centaine de membres et s’intéresse au télétravail, au coworking, au nomadisme, au travail collaboratif, à l’entreprise libérée …
          </p><p>La Commission Télétravail & Espaces Collaboratifs est l’une des 15 Commissions créées au sein de <span class="bigger-text">l’Association régionale La Mêlée </span>.
          </p><p>Elle est animée par 3 co-animateurs :<br>
           <span class="bigger-text co-animateur">Annie Fachetti</span> – Ariège Expansion<br>
           <span class="bigger-text co-animateur">Stéphane Capgras</span> – CC Tarn & Dadou<br>
           <span class="bigger-text co-animateur">Philippe Bresolin</span> – Co Consult Group</p>
        </div>
      </div>
      <div class="col-md-4 colmargin coltwo">
        <div class="second-col">
          <div class="text-center">
            <i class="fa fa-sitemap icone color2" aria-hidden="true"></i>
            <h4 class="color-1">La Mêlée</h4>
          </div>
          <p>Catalyseur d’énergies et agitateurs d’idées, <span class="bigger-text">La Mêlée</span> est un Think Tank et un Do Tank de l’économie numérique qui rassemble les hommes, les initiatives et les idées autour d’horizons communs à l’occasion de nombreuses manifestations.
          </p><p>De nombreuses missions : <br>
           <span class="mission-bullet"></span> <i class="fa fa-caret-right" aria-hidden="true"></i> Eduquer et <span class="bigger-text">sensibiliser au numérique</span> <br>
           <span class="mission-bullet"></span> <i class="fa fa-caret-right" aria-hidden="true"></i> Accompagner les organisations dans leur <span class="bigger-text">transformation digitale</span> et dans leurs démarches d’innovation collective <br>
           <span class="mission-bullet"></span> <i class="fa fa-caret-right" aria-hidden="true"></i> Soutenir l’<span class="bigger-text">innovation</span> et l’<span class="bigger-text">entrepreneuriat</span> <br>
           <span class="mission-bullet"></span> <i class="fa fa-caret-right" aria-hidden="true"></i> Participer au rayonnement numérique de la métropole (French Tech) <br>
           <span class="mission-bullet"></span> <i class="fa fa-caret-right" aria-hidden="true"></i> Accueillir le public, gérer et animer <span class="bigger-text">La Cantine Toulouse</span> <br>
          </p>
        </div>
      </div>
      <div class="col-md-4 colmargin">
        <div class="third-col">
          <div class="text-center">
            <i class="fa fa-calendar-check-o icone color1" aria-hidden="true"></i>
            <h4 class="color-1">Agenda Actu</h4>

            <br>
            <p>
              <span class="agenda-date">27 Septembre 2016</span><br>
              <span class="agenda-title">Table Ronde « Tiers Lieux : Savoir, comprendre, agir »</span><br>
              <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="agenda-place">La Cantine Quai des Savoirs</span><br>
              De <span class="bigger-text">10 h 30</span> à <span class="bigger-text">11 h 30</span>
            </p>

            <p>
              <span class="agenda-date">13 Octobre 2016</span><br>
              <span class="agenda-title">Réunion de La Commission au Périscope</span><br>
              <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="agenda-place">La Ramonville-Saint-Agne</span><br>
              De <span class="bigger-text">12 h</span> à <span class="bigger-text">14 h</span>
            </p>

            <p>
              <span class="agenda-date">28 Novembre 2016</span><br>
              <span class="agenda-title">Réunion de La Commission à La Cantine</span><br>
              <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="agenda-place">La Quai des Savoirs</span><br>
              De <span class="bigger-text">18 h 15</span> à <span class="bigger-text">20 h 15</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <%= render 'shared/gallery', working_places: @working_places %>
  </div>
</div>

<div class="title"></div>
